<div class="container">
  <div class="row my-5">
    <div class="col-lg-4 col-md-12 col-sm-12"></div>
    <div class="col-lg-4 col-md-12 col-sm-12 border rounded-1 p-4">
      <form class="text-center" action="">
        <h4 class="fw-bold mb-3" style="color: #000000a6">ĐĂNG NHẬP</h4>
        <div class="w-100 position-relative mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Tài khoản của web"
            ng-model="inputValue.ten_tai_khoan"
          /><i
            class="fa-solid fa-user position-absolute fa-lg top-50"
            style="right: 11px; color: #000000a6"
          ></i>
        </div>
        <div class="w-100 position-relative mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Mật Khẩu"
            ng-model="inputValue.mat_khau"
          /><i
            class="fa-solid fa-lock position-absolute fa-lg top-50"
            style="right: 11px; color: #000000a6"
          ></i>
        </div>
        <div class="w-100 mb-4 d-flex">
          <input type="checkbox" class="me-1" />
          Ghi Nhớ
        </div>
        <div>
          <button
            ng-click="onClickDangNhap()"
            class="btn btn-info text-white fw-bold w-100 mb-2"
          >
            Đăng Nhập
          </button>
        </div>
        <div class="mb-2" style="color: #000000a6">-HOẶC-</div>
        <div class="d-flex justify-content-around">
          <button
            class="btn fw-bold text-white"
            style="background-color: #0866ff"
          >
            <i class="fa-brands fa-lg fa-square-facebook me-1"></i>Login FB</button
          ><button class="btn fw-bold text-white btn-danger">
            <i class="fa-solid fa-key fa-lg me-1"></i>
            Tạo Tài Khoản
          </button>
        </div>
      </form>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12"></div>
  </div>
</div>
