<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../lib/bootstrap.css" />
    <script src="../lib/bootstrap.js"></script>
    <script src="../lib/font-fontawesome-ae333ffef2.js"></script>
    <title>SHOP ACC LIÊN QUÂN</title>
  </head>
  <body style="font-family: 'Roboto Condensed', sans-serif">
    <header>
      <nav class="navbar navbar-expand-lg container">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"
            ><img src="images/logo.gif" width="200px" alt=""
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link fw-bold" href="#">Trang Chủ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fw-bold" href="#">Nạp Thẻ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fw-bold" href="#">Nạp Ví - ATM </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link fw-bold">Lịch Sử</a>
              </li>
            </ul>
            <form class="d-flex">
              <button
                class="btn btn-outline-info rounded-4 me-2"
                style="border: solid 2px #0dcaf0"
                type="button"
              >
                <i class="fa-regular fa-user me-1"></i>
                Đăng Nhập
              </button>
              <button
                class="btn btn-outline-info rounded-4"
                style="border: solid 2px #0dcaf0"
                type="button"
              >
                <i class="fa-regular fa-user me-1"></i>
                Đăng Ký
              </button>
            </form>
          </div>
        </div>
      </nav>
      <style>
        .btn-outline-info:hover,
        .btn-outline-info:hover:active {
          color: white;
        }
        .nav-link:hover,
        .nav-link:focus {
          color: #0dcaf0;
        }
      </style>
    </header>
    <main>
      <div class="container" style="min-height: calc(100vh - 357.49px)"></div>
    </main>
    <footer style="background-color: #2f353b" class="pb-3">
      <div class="container">
        <div class="row pt-4">
          <div class="col-lg-4 col-md-12 col-sm-12 col-12">
            <img src="images/footer1.png" width="100%" alt="" />

            <p class="text-white fw-bold text-center my-2">SHOPMOBAVIET.VN</p>
            <p class="text-white fw-bold text-center mb-2">
              SHOP CHÍNH CHỦ CỦA MOBA VIỆT
            </p>
          </div>
          <div class="col-lg-5 ps-lg-5 col-md-12 col-sm-12 col-12">
            <p class="text-white fw-bold mb-2">CHÚNG TÔI Ở ĐÂY</p>
            <p class="text-white fw-bold mb-2">
              Chúng tôi luôn lấy uy tín đặt trên hàng đầu đối với khách hàng, hy
              vọng chúng tôi sẽ được phục vụ các bạn. Cám ơn!
            </p>
            <p class="text-white fw-bold mb-2">Thời gian hỗ trợ:</p>
            <p class="text-white fw-bold mb-2">
              Sáng: 8h00 -> 11h30 | Chiều: 13h00 -> 22h00
            </p>
            <p class="text-white fw-bold mb-2">Hotline: 036.244.3838</p>
            <div><img src="images/footer2.gif" width="200px" alt="" /></div>
          </div>
          <div class="col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="d-flex justify-content-center">
              <div class="position-relative">
                <div
                  style="width: 250px; background-color: black"
                  class="overflow-hidden"
                >
                  <img src="images/footer3.png" alt="" class="opacity-75" />
                </div>
                <div class="position-absolute" style="top: 8px; left: 8px">
                  <div class="d-flex">
                    <a href="#" class="me-1">
                      <img
                        src="images/footer4.jpg"
                        alt=""
                        style="top: 5px; left: 82px; border: 2px solid white"
                    /></a>
                    <div>
                      <a href="#" class="fw-bold text-white">Shopmobaviet.vn</a>
                      <p class="text-white">7.3K người theo dõi</p>
                    </div>
                  </div>
                  <button class="rounded-1 bg-white border-0 mt-4">
                    <a href="#" class="nav-link fw-bold fst-italic">
                      <i
                        class="fa-brands fa-lg fa-square-facebook me-1"
                        style="color: #0866ff"
                      ></i
                      >Theo dõi trang</a
                    >
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
