<div class="bg-info">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link text-white fw-bold"
              href="#!/admin/san-pham/danh-sach-san-pham"
              >QUẢN LÝ SẢN PHẨM</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-white fw-bold"
              href="#!/admin/danh-muc/danh-sach-danh-muc"
              >QUẢN LÝ DANH MỤC</a
            >
          </li>
          <li class="nav-item">
            <a
              href="#!/admin/don-hang/danh-sach-don-hang"
              class="nav-link text-white fw-bold"
              >QUẢN LÝ ĐƠN HÀNG</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
