<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../lib/bootstrap.css" />
    <script src="../lib/bootstrap.js"></script>
    <script src="../lib/font-fontawesome-ae333ffef2.js"></script>
  </head>
  <body>
    <header class="bg-info">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link text-white fw-bold" href="index.html"
                  >Quản Lý Sản Phẩm</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link text-white fw-bold" href="taomoi.html"
                  >Quản Lý Danh Mục</a
                >
              </li>
              <li class="nav-item">
                <a href="sua.html" class="nav-link text-white fw-bold"
                  >Quản Lý Đơn Hàng</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="container mt-5"></main>
    <footer></footer>
  </body>
</html>
